//
// Base styles
//
.btn {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $body-color;
    text-align: center;
    text-decoration: if($link-decoration==none, null, none);
    white-space: $btn-white-space;
    vertical-align: middle;
    cursor: if($enable-button-pointers, pointer, null);
    user-select: none;
    background-color: transparent;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    @include transition($btn-transition);
    &.btn-round {
        border-radius: 24px;
        @include button-size($btn-padding-y, $btn-padding-x*1.5, $btn-font-size, 20px);
    }
    &.btn-primary {
        color: #fff;
    }
    &.btn-outline-secondary {
        color: $body-color;
    }
    &.btn-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        i,
        img {
            margin: 0 4px;
            // max-height: 24px;
        }
        span {
            margin: 0 4px;
        }
    }
    &.btn-icon-only {
        background-color: transparent;
        border-width: 0;
        padding: 0;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            outline: none;
            box-shadow: 0 0 0 rgba(#fff, 0)!important;
            @include box-shadow(none);
        }
        &::before,
        &::after {
            display: none;
        }
    }
    &.btn-link {
        background-color: transparent;
        border-width: 0;
        padding: 0;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            outline: none;
            box-shadow: 0 0 0 rgba(#fff, 0)!important;
            @include box-shadow(none);
        }
        &::before,
        &::after {
            border-top-color: $secondary-4;
            margin-left: 6px;
        }
    }
    &.btn-alert {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #dc3545;
        border-width: 0;
        color: #fff;
        border-radius: 20px;
        i,
        img {
            margin-right: 8px;
            // max-height: 24px;
        }
        span {
            margin: 0 8px;
        }
    }
    &.btn-block {
        display: block;
        width: 100%;
    }
    &:hover {
        // color: $body-color;
        text-decoration: if($link-hover-decoration==underline, none, null);
    }
    .btn-check:focus+&,
    &:focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }
    .btn-check:checked+&,
    .btn-check:active+&,
    &:active,
    &.active {
        @include box-shadow($btn-active-box-shadow);
        &:focus {
            @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        }
    }
    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
}

//
// Alternate buttons
//
// scss-docs-start btn-variant-loops
@each $color,
$value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
}

.btn-outline-primary {
    &.active,
    &:active {
        color: #fff!important;
    }
}

// scss-docs-end btn-variant-loops
//
// Link buttons
//
// Make a button look and behave like a link
.btn-link {
    font-weight: $font-weight-normal;
    color: $btn-link-color;
    text-decoration: $link-decoration;
    &:hover {
        color: $btn-link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    &:focus {
        text-decoration: $link-hover-decoration;
    }
    &:disabled,
    &.disabled {
        color: $btn-link-disabled-color;
    }
    // No need for an active state here
}

//
// Button Sizes
//
.btn-lg {
    &.btn-round {
        border-radius: 25px;
        @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, 25px);
    }
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
    &.btn-round {
        border-radius: 14px;
        @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, 14px);
    }
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}