// The dropdown wrapper (`<div>`)
.dropup,
.dropend,
.dropdown,
.dropstart {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
    // Generate the caret automatically
    @include caret();
}

// The dropdown menu
.dropdown-menu {
    position: absolute;
    z-index: $zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    min-width: $dropdown-min-width;
    padding: $dropdown-padding-y $dropdown-padding-x;
    margin: 0; // Override default margin of ul
    @include font-size($dropdown-font-size);
    color: $dropdown-color;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    background-color: $dropdown-bg;
    background-clip: padding-box;
    border: 0 solid $dropdown-border-color;
    @include border-radius($dropdown-border-radius);
    // @include box-shadow($dropdown-box-shadow);
    box-shadow: 0px 16px 64px 0 rgb(31 47 70 / 40%);
    top: calc(100% + 12px);
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 100%;
        width: 16px;
        height: 8px;
        z-index: $zindex-dropdown;
        transform: translateX(-50%);
        background: url("data:image/svg+xml,%3Csvg width='32' height='13' viewBox='0 0 32 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3432 2.65685L0 13H32L21.6569 2.65686C18.5327 -0.467339 13.4673 -0.467344 10.3432 2.65685Z' fill='%23FCFCFD'/%3E%3C/svg%3E%0A") no-repeat 100% 50% / 100% auto;
    }
    &[data-bs-popper] {
        top: calc(100% + 12px);
        left: 50%;
        transform: translateX(-50%);
        margin-top: $dropdown-spacer;
    }
    &.dropdown-menu-center {
        margin: 0;
        top: calc(100% + 12px)!important;
        left: 50%!important;
        transform: translateX(-50%)!important;
    }
    &.dropdown-menu-start {
        left: -24px;
        right: auto;
        transform: translateX(0%);
    }
    &.dropdown-menu-end {
        left: auto;
        right: -24px;
        transform: translateX(0%);
        &::before {
            left: auto;
            right: 36px;
            transform: translateX(0%);
        }
    }
}

// scss-docs-start responsive-breakpoints
// We deliberately hardcode the `bs-` prefix because we check
// this custom property in JS to determine Popper's positioning
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .dropdown-menu#{$infix}-start {
            --bs-position: start;
            left: -24px;
            &[data-bs-popper] {
                right: auto;
                left: -24px;
                transform: translateX(0);
            }
        }
        .dropdown-menu#{$infix}-end {
            --bs-position: end;
            right: -24px;
            &[data-bs-popper] {
                right: -24px;
                transform: translateX(0);
                left: auto;
            }
        }
    }
}

// scss-docs-end responsive-breakpoints
// Allow for dropdowns to go bottom up (aka, dropup-menu)
// Just add .dropup after the standard .dropdown class and you're set.
.dropup {
    .dropdown-menu[data-bs-popper] {
        top: auto;
        bottom: 100%;
        margin-top: 0;
        margin-bottom: $dropdown-spacer;
    }
    .dropdown-toggle {
        @include caret(up);
    }
}

.dropend {
    .dropdown-menu[data-bs-popper] {
        top: 0;
        right: auto;
        left: 100%;
        margin-top: 0;
        margin-left: $dropdown-spacer;
    }
    .dropdown-toggle {
        @include caret(end);
        &::after {
            vertical-align: 0;
        }
    }
}

.dropstart {
    .dropdown-menu[data-bs-popper] {
        top: 0;
        right: 100%;
        left: auto;
        margin-top: 0;
        margin-right: $dropdown-spacer;
    }
    .dropdown-toggle {
        @include caret(start);
        &::before {
            vertical-align: 0;
        }
    }
}

// Dividers (basically an `<hr>`) within the dropdown
.dropdown-divider {
    height: 0;
    margin: $dropdown-divider-margin-y 0;
    overflow: hidden;
    border-top: 1px solid $dropdown-divider-bg;
}

// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; // For `<button>`s
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    clear: both;
    color: $dropdown-link-color;
    font-weight: 500;
    text-align: inherit; // For `<button>`s
    text-decoration: if($link-decoration==none, null, none);
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background-color: transparent; // For `<button>`s
    border-bottom: 1px $secondary-6 solid;
    min-height: 48px;
    font-size: 14px;
    min-width: 200px;
    // Prevent dropdown overflow if there's no padding
    // See https://github.com/twbs/bootstrap/pull/27703
    .item-icon {
        width: 24px;
        margin-right: 12px;
        font-size: 18px;
        text-align: center;
        color: $secondary-5;
    }
    @if $dropdown-padding-y==0 {
        &:first-child {
            @include border-top-radius($dropdown-inner-border-radius);
        }
        &:last-child {
            @include border-bottom-radius($dropdown-inner-border-radius);
        }
    }
    &:hover,
    &:focus {
        color: $dropdown-link-hover-color;
        text-decoration: if($link-hover-decoration==underline, none, null);
        @include gradient-bg($dropdown-link-hover-bg);
    }
    &.active,
    &:active {
        text-decoration: none;
    }
    &.disabled,
    &:disabled {
        color: $dropdown-link-disabled-color;
        pointer-events: none;
        background-color: transparent;
        // Remove CSS gradients if they're enabled
        background-image: if($enable-gradients, none, null);
    }
}

.dropdown-menu.show {
    display: block;
    z-index: 1000;
    li {
        &:last-of-type,
        &:last-child {
            .dropdown-item {
                border-width: 0;
            }
        }
    }
}

// Dropdown section headers
.dropdown-header {
    display: block;
    padding: $dropdown-header-padding;
    margin-bottom: 0; // for use with heading elements
    @include font-size($font-size-sm);
    color: $dropdown-header-color;
    white-space: nowrap; // as with > li > a
}

// Dropdown text
.dropdown-item-text {
    display: block;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    color: $dropdown-link-color;
}

// Dark dropdowns
.dropdown-menu-dark {
    color: $dropdown-dark-color;
    background-color: $dropdown-dark-bg;
    border-color: $dropdown-dark-border-color;
    @include box-shadow($dropdown-dark-box-shadow);
    .dropdown-item {
        color: $dropdown-dark-link-color;
        &:hover,
        &:focus {
            color: $dropdown-dark-link-hover-color;
            @include gradient-bg($dropdown-dark-link-hover-bg);
        }
        &.active,
        &:active {
            color: $dropdown-dark-link-active-color;
            @include gradient-bg($dropdown-dark-link-active-bg);
        }
        &.disabled,
        &:disabled {
            color: $dropdown-dark-link-disabled-color;
        }
    }
    .dropdown-divider {
        border-color: $dropdown-dark-divider-bg;
    }
    .dropdown-item-text {
        color: $dropdown-dark-link-color;
    }
    .dropdown-header {
        color: $dropdown-dark-header-color;
    }
}