// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: $nav-link-padding-y $nav-link-padding-x;
    @include font-size($nav-link-font-size);
    font-weight: $nav-link-font-weight;
    color: $nav-link-color;
    text-decoration: if($link-decoration==none, null, none);
    @include transition($nav-link-transition);
    &:hover,
    &:focus {
        color: $nav-link-hover-color;
        text-decoration: if($link-hover-decoration==underline, none, null);
    }
    // Disabled state lightens text
    &.disabled {
        color: $nav-link-disabled-color;
        pointer-events: none;
        cursor: default;
    }
}

//
// Tabs
//
.nav-tabs {
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
    .nav-link {
        margin-bottom: -$nav-tabs-border-width;
        position: relative;
        background: none;
        border-width: 0;
        border-bottom: 0 solid transparent;
        font-size: 17.5px;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 32px;
        padding: 0.5rem 0;
        color: #000;
        cursor: pointer;
        // @include border-top-radius($nav-tabs-border-radius);
        &:hover,
        &:focus {
            border-color: $nav-tabs-link-hover-border-color;
            // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
            isolation: isolate;
        }
        &.disabled {
            color: $nav-link-disabled-color;
            background-color: transparent;
            border-color: transparent;
        }
    }
    .nav-link.active,
    .nav-item.show .nav-link {
        color: $nav-tabs-link-active-color;
        background-color: $nav-tabs-link-active-bg;
        border-color: $nav-tabs-link-active-border-color;
        &::before {
            height: 4px;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            border-radius: 4px 4px 0 0;
            content: "";
            background-color: $primary;
        }
    }
    .dropdown-menu {
        // Make dropdown border overlap tab border
        margin-top: -$nav-tabs-border-width;
        // Remove the top rounded corners here since there is a hard edge above the menu
        @include border-top-radius(0);
    }
    @media (max-width: 480px) {
        .nav-link {
            font-size: 1rem;
            margin-right: 12px;
        }
    }
}

//
// Pills
//
.nav-pills {
    padding: 6px;
    border: 2px $secondary-6 solid;
    border-radius: 0.5rem;
    background-color: $secondary-7;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    &.full {
        justify-content: space-between;
        li {
            flex: 1 100%;
            .nav-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }
    }
    .nav-link {
        background: none;
        border: 0;
        padding: 0.25rem 1rem;
        min-height: 28px;
        border-radius: 0.48rem;
        color: $secondary-3;
        font-weight: 600;
        margin-right: 2px;
        &.bordered {
            border: 2px $secondary-6 solid;
            border-radius: 0.25rem;
            background-color: #fff;
            margin-right: 4px;
        }
    }
    .nav-link.active,
    .show>.nav-link {
        color: #fff;
        background-color: $secondary-3;
        &.bordered {
            border: 2px $secondary-3 solid;
        }
    }
    .form-control {
        min-height: 32px;
        font-weight: 600;
        font-size: 14px;
    }
}

//
// Justified variants
//
.nav-fill {
    >.nav-link,
    .nav-item {
        flex: 1 1 auto;
        text-align: center;
    }
}

.nav-justified {
    >.nav-link,
    .nav-item {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }
}

.nav-fill,
.nav-justified {
    .nav-item .nav-link {
        width: 100%; // Make sure button will grow
    }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`
.tab-content {
    >.tab-pane {
        display: none;
    }
    >.active {
        display: block;
    }
}