// with Form Card component
.form-card-page {
    // height: 100vh;
    overflow-y: scroll;
    border-radius: 0;
    position: relative;
    z-index: 100;
    // background-color: #ECECF9;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: 0;
        bottom: 60px;
        left: 0;
        transform-origin: left top;
        transform: skewY(-10deg);
        background-color: #ECECF9;
    }
}

.mask-img {
    width: 100%;
    position: absolute;
    bottom: 60px;
    z-index: 1;
    left: 0;
}

.mask-bg {
    width: 100%;
    // background-color: #ECECF9;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: -1;
        bottom: 0;
        left: 0;
        transform-origin: left top;
        transform: skewY(-10deg);
    }
}

// with Cover component
.cover-page {
    height: 100vh;
    padding: 0;
    overflow-y: scroll;
    .cover-form-container {
        height: 100vh;
        max-height: 100vh;
        padding: 3rem 0;
        overflow-y: scroll;
        @media screen and (min-width: map-get($grid-breakpoints, md)) {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

// Bootstrap grid is used for screen >= map-get($grid-breakpoints, lg)
.form-card {
    border-radius: $border-radius;
    img {
        width: 100%;
        max-width: 100%;
    }
    .form-card__img {
        width: 100%;
        min-height: 100px;
        border-radius: 0;
        padding: 0;
        background-size: cover;
        background-position: 50% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .form-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 100px;
        border-radius: 0;
        padding: 0;
        background-size: cover;
        background-position: 50% 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .form-help {
        .form-help-pic {
            margin-bottom: 40px;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            .logo-circle {
                width: 60px;
            }
            .logo-title {
                width: 160px;
            }
        }
        .form-help-content {
            h4 {
                color: #fff;
                margin-bottom: 20px;
                font-weight: 600;
            }
            p {
                color: #fff;
                font-size: 1.125em;
                // text-align: justify;
            }
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    .form-device {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 500px;
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        max-width: 560px;
        .device-inner {
            position: relative;
            width: auto;
            height: 100%;
            display: inline-block;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .img-mask {
                position: absolute;
                left: 5px;
                right: 5px;
                top: 5px;
                bottom: 5px;
                border-radius: 30px;
                margin: 0 auto;
                z-index: 1000;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .img-logo {
                width: 120px;
                height: 120px;
                -o-object-fit: contain;
                object-fit: contain;
                vertical-align: middle;
            }
            .img-device {
                width: auto;
                min-height: 100%;
                max-height: 100%;
                margin: 0 auto;
                z-index: 100;
                position: relative;
                z-index: 1000;
                border-radius: 30px;
                border: 2px #fff solid;
            }
        }
    }
    .logo-circle {
        -webkit-animation: rotation 2s infinite linear;
        animation: rotation 2s infinite linear;
        width: 120px;
    }
    .logo-title {
        width: 200px;
    }
    .isPC {
        display: block;
    }
    .isMobile {
        display: none;
    }
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        .logo-circle {
            -webkit-animation: rotation 2s infinite linear;
            animation: rotation 2s infinite linear;
            width: 160px;
        }
        .logo-title {
            width: 240px;
        }
        .form-card__img--left {
            border-radius: $border-radius 0 0 $border-radius;
        }
        .form-card__img--right {
            border-radius: 0 $border-radius $border-radius 0;
        }
    }
    @media (max-width: 990px) {
        &.row {
            display: block;
        }
        .isPC {
            display: none;
        }
        .isMobile {
            display: block;
        }
    }
}

.form-card__img--left {
    // background: url('../../images/bg.png') no-repeat top left;
}

.download-box-container {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 6px;
    flex-direction: row;
    display: flex;
    padding: 10px;
    @media (max-width: 1024px) {
        flex-direction: column;
        margin-top: 15px;
        >div {
            margin: 0;
            margin-bottom: 7px;
        }
    }
}

.label-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container {
    flex: 1 1;
    margin-left: 10px;
    cursor: pointer;
}

.form-card img {
    width: 100%;
    max-width: 100%;
}

.label-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .label {
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 0;
        text-align: center;
    }
}

.img-btn {
    max-width: 118px!important;
}

.d-flex-1 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotateY(0deg)
    }
    to {
        -webkit-transform: rotateY(359deg)
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotateY(0deg)
    }
    to {
        -webkit-transform: rotateY(359deg)
    }
}

.form-account {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form-v1-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 15px 35px 0 rgba(60, 66, 87, .08), 0 5px 15px 0 rgba(0, 0, 0, 0.12);
    padding: 56px 48px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    .logo-img {
        width: 120px;
        margin: 30px auto;
    }
    label {
        font-weight: 600;
    }
}

.btn-back-home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-back-home {
    margin-bottom: 30px;
    justify-self: flex-end;
    align-self: flex-end;
}

.ant-btn-background-ghost.ant-btn-primary {
    color: #31a44a;
    background-color: initial;
    border-color: #31a44a;
    text-shadow: none;
}

.fw-normal {
    font-weight: normal !important;
}

.login-title {
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.qr-code-container {
    background-color: #f5f5f5;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
    padding: 5px 10px 15px;
    margin-top: 2rem;
}

.login-sub-title {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 0;
    b {
        color: $primary;
    }
}

.login-sub-title {
    color: rgb(153, 153, 153);
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-action,
.btn-cta,
.btn-cta.ant-btn {
    height: auto;
    padding: .6em 3.5em;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 2;
    font-size: .75rem;
    font-weight: 700;
    color: $white;
    background-color: #0046ff;
    border-color: #0046ff;
    min-height: 40px;
    border-radius: 8px;
    &:hover,
    &:focus {
        background-color: #0046ff;
        border-color: #0046ff;
    }
}

.btn-cta {
    height: 40px !important;
    line-height: inherit !important;
    font-size: 15px !important;
}

.form-card__body {
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 100;
    .brand-logo {
        max-width: 500px;
        margin: 0 auto;
        img {
            width: 0 auto;
            height: 60px;
            margin-bottom: 30px;
        }
    }
    .form-account .ant-input-affix-wrapper .ant-input,
    .form-v1-container .ant-input-affix-wrapper .ant-input {
        font-size: 16px;
    }
    .ant-input,
    .ant-input-number,
    .ant-time-picker-input {
        min-height: 40px!important;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        padding: 6px 11px;
    }
}

.form-link {
    color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    a {
        color: $primary;
        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
}

.bx-active {
    .active-icon {
        margin-bottom: 30px;
        margin-top: 10px;
        width: 60px;
    }
    .active-title {
        font-weight: 700;
        font-size: 1.5rem;
        color: #000;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 10px;
    }
    .active-desc {
        font-size: 1rem;
        color: #000;
        text-align: left;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .active-coundown {
        font-size: 0.8rem;
        color: #000;
    }
}

@media (max-width: 500px) {
    .form-v1-container {
        padding: 32px 32px;
    }
    .form-card__body {
        .brand-logo {
            img {
                width: auto;
                height: 32px;
                margin-bottom: 24px;
                margin-left: 32px;
            }
        }
    }
}