.title-text {
	color: #0046FF;
}


.mr-4 {
	margin-right: 10px;
}

.mt-4 {
	margin-top: 10px;
	flex-direction: row;
	display: flex;
	align-items: center;
}

.mt-8 {
	margin-top: 8px;
}

.mb-10 {
	margin-bottom: 10px;
}

.p-4 {
	padding-top: auto;
	padding-right: 5px;
	padding-bottom: auto;
	padding-left: auto;
}

.test-1 {
	color: #838A97;
}

.d-0 {
	display: contents;
}

.matric-color-down {
	color: #FE193A;
	font-size: 16px;
}

.matric-color-up {
	color: #6AC80E;
	font-size: 16px;
}

.pb-0 {
	padding-bottom: 0px !important;
}

