.title-develop {
	margin-bottom: 24px;
}

.border-develop {
	border-style: hidden;
	width: 50%;
}

.m-develop {
	margin-top: 24px;
	margin-bottom: 24px;
}

.m-item-develop {
	margin-bottom: 8px;
	font-size: 16px;
}

.text-develop-color {
	color: #0046FF;
	font-size: 16px;
	margin-right: 10px;
}

.row-develop {
	flex-direction: row;
	display: flex;
	align-items: center;
}