.modal-checkout {
    margin-bottom: 12px;
    .checkout-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px $secondary-6 solid;
        span {
            font-weight: bold;
            font-size: 15px;
        }
    }
    .checkout-form {
        padding: 16px 0;
    }
    .checkout-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: 1px $secondary-6 solid;
        .checkout-title {
            font-size: 15px;
            &.bold {
                font-weight: bold;
            }
        }
        .checkout-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            .checkout-item-img {
                width: 72px;
                height: 72px;
                position: relative;
                border-radius: 8px;
                margin-right: 12px;
                &::before {
                    border: 1px rgba(0, 0, 0, 0.1) solid;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: 8px;
                    content: "";
                }
                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    object-fit: cover;
                }
            }
            .checkout-item-info {
                .checkout-item-collection {
                    font-size: 12px;
                    font-weight: 500;
                    color: green;
                    margin-bottom: 2px;
                }
                .checkout-item-name {
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }
        .checkout-value {
            .card-price {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .card-price-icon {
                    width: 32px;
                    min-width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    border: 1px rgba(0, 0, 0, 0.1) solid;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 8px;
                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                        display: block;
                        margin: auto;
                    }
                }
                .card-price-info {
                    flex: 1 100%;
                    .card-price-title {
                        font-size: 12px;
                        font-weight: 600;
                        color: $secondary;
                        line-height: 14px;
                        text-align: right;
                    }
                    .card-price-nums {
                        font-size: 15px;
                        font-weight: bold;
                        text-align: right;
                    }
                }
            }
        }
    }
}

.modal-form {
    .title-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon-coin {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            border: 1px $secondary-6 solid;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            img {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                display: block;
            }
        }
        span {
            font-weight: bold;
            color: #000;
        }
    }
    .form-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 12px;
        .item-cover {
            width: 70px;
            height: 70px;
            margin-right: 12px;
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 4px;
            }
        }
        .item-select {
            flex: 1;
        }
    }
}

.modal-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    .view-icon {
        margin-bottom: 12px;
        i {
            font-size: 60px;
            color: green;
        }
    }
    .view-details {
        .view-title {
            font-size: 26px;
            font-weight: bold;
        }
        .view-info {
            font-size: 32px;
            font-weight: bold;
        }
        .view-text {
            font-size: 16px;
            // color: $secondary-5;
        }
    }
}

.modal-tabs {
    margin-top: 12px;
    .nav-item {
        flex: 1;
        .nav-link {
            text-align: center;
        }
    }
}