/*
 * Sidebar
 */

.sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 $secondary-6;
    overflow: hidden;
    overflow-y: auto;
}

.filter-mobile {
    .sidebar {
        box-shadow: inset 0 0 0 $secondary-6;
        padding: 0 8px;
        height: 100%;
        min-height: calc(100vh - 16px);
        .bx-filters {
            padding: 0;
        }
    }
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.bx-filters {
    padding: 12px;
}

.view-grid {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: 1fr 1fr;
    .grid-2 {
        grid-template-columns: 1fr 1fr;
    }
    .grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.formSelect {
    &__control {
        min-height: 40px!important;
        // padding: $input-padding-y $input-padding-x;
        font-family: $input-font-family;
        @include font-size($input-font-size);
        font-weight: $input-font-weight;
        line-height: $input-line-height;
        color: $input-color;
        background-color: $input-bg!important;
        background-clip: padding-box;
        border: $input-border-width solid $input-border-color!important;
        appearance: none; // Fix appearance for date inputs in Safari
        border-radius: 8px!important;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0)!important;
        z-index: 1;
    }
    &__control--is-focused,
    &__control--menu-is-open {
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border: $input-border-width solid $input-focus-border-color!important;
        @include box-shadow(none);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0)!important;
        .formSelect__indicator {
            position: relative;
            -webkit-transform: translateY(-50%) rotate( 180deg);
            transform: translateY(-50%) rotate( 180deg);
            top: 50%;
        }
    }
    &__value-container {}
    &__indicators {}
    &__menu {
        z-index: 1000;
        border-radius: 8px!important;
    }
    &__menu-list {
        background-color: transparent!important;
    }
    &__option {
        background-color: white!important;
        color: rgb(22, 22, 22)!important;
        font-weight: 500;
        &--is-focused {
            background-color: $secondary-7!important;
            color: $primary!important;
        }
    }
    &__group {
        padding: 0;
    }
    &__menu-portal {
        border: 1px solid darkblue;
    }
}

.item-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    .option-img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-right: 12px;
        border-radius: 2px;
        &.circle {
            border-radius: 100%;
            border: 1px rgba(0, 0, 0, 0.05) solid;
        }
    }
    .option-name {
        font-weight: 500;
    }
}


/* Customize the label (the container) */

.formCheck {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        @include transition($input-transition);
    }
    &:hover input~.checkmark {
        border-color: $primary;
    }
    input:checked~.checkmark {
        border-color: $primary;
        background-color: $primary;
        @include transition($input-transition);
    }
    input:checked~.checkmark:after {
        display: block;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        border: 2px $secondary-6 solid;
        @include transition($input-transition);
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 1px;
            width: 6px;
            height: 12px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            @include transition($input-transition);
        }
    }
}


/* Style the checkmark/indicator */

.block-list {
    .item-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 16px;
        .item-id {
            font-weight: 300;
            color: $secondary-5;
            width: 24px;
            font-size: 16px;
        }
        .item-cover {
            background-color: $body-bg;
            position: relative;
            border-radius: 8px;
            width: 60px;
            height: 60px;
            margin-right: 12px;
            &::before {
                background-color: rgba(0, 0, 0, 0.05);
                z-index: 0;
                border: 1px rgba(0, 0, 0, .1) solid;
                border-radius: 8px;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                content: "";
            }
            &::after {
                border: 1px rgba(0, 0, 0, .1) solid;
                border-radius: 8px;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                content: "";
                z-index: 2;
            }
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
        .item-info {
            flex: 1;
            .item-info-title {
                font-size: 15px;
                margin: 0 0 4px 0;
                color: #000;
            }
            .item-info-meta {
                font-size: 12px;
                color: $secondary;
            }
        }
    }
}

.block-categories {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: 1fr 1fr;
    .item-block {
        display: block;
        color: #000;
        font-weight: 500;
        padding: 8px 0;
    }
}